{% extends 'base.html.twig' %}

{% block title %}RepetitionMaximum index{% endblock %}

{% block body %}
    <h1>RepetitionMaximum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Weight</th>
                <th>Reps</th>
                <th>RmDate</th>
                <th>RmTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repetition_maximum in repetition_maximums %}
            <tr>
                <td>{{ repetition_maximum.id }}</td>
                <td>{{ repetition_maximum.weight }}</td>
                <td>{{ repetition_maximum.reps }}</td>
                <td>{{ repetition_maximum.rmDate ? repetition_maximum.rmDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ repetition_maximum.rmTime ? repetition_maximum.rmTime|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('repetition_maximum_show', {'id': repetition_maximum.id}) }}">show</a>
                    <a href="{{ path('repetition_maximum_edit', {'id': repetition_maximum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('repetition_maximum_new') }}">Create new</a>
{% endblock %}